<div>
  <div *ngFor="let city of selectedCity">
    <h2>Information Regarding the city of {{ city.cityName }}</h2>
    <!-- Basic Information -->
    <div class="basicInformation">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Basic City Information</mat-panel-title>
          <mat-panel-description
            >City and state of {{ city.cityName }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div><strong>City Name:</strong> {{ city.cityName }}</div>
        <div>
          <div><strong>State Name:</strong> {{ city.stateName }}</div>
        </div>
      </mat-expansion-panel>
    </div>
    <br />
    <!-- Population Information -->
    <div class="populationInfo">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Population Information</mat-panel-title>
          <mat-panel-description
            >Total population of {{ city.cityName }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div>
          <div><strong>Total Population:</strong> {{ city.population }}</div>
        </div>
      </mat-expansion-panel>
    </div>
    <br />
    <!-- Timezone Information -->
    <div class="timezoneInformation">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Timezone Information</mat-panel-title>
          <mat-panel-description
            >Standard and Daylight Savings Timezones for
            {{ city.cityName }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div>
          <div class="standardTimezone">
            <strong>Standard Timezone: </strong>{{ city.timeZone.standardTime }}
          </div>
          <div class="daylightSavingsTimezone">
            <strong>Daylight Savings Timezone: </strong
            >{{ city.timeZone.daylightSavingsTime }}
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <br />
    <!-- Zip Codes -->
    <div class="zipCodeInfo">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Zip Code Information</mat-panel-title>
          <mat-panel-description
            >Zip codes belonging to the city of
            {{ city.cityName }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <ul *ngFor="let zipCode of city.zipCodes">
          <li>{{ zipCode }}</li>
        </ul>
      </mat-expansion-panel>
    </div>
    <br />
    <!-- FIPS Code -->
    <div class="fipsCodeInfo">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>FIPS Information</mat-panel-title>
          <mat-panel-description
            >Federal Information Processing Standards</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div><strong>FIPS Code: </strong> {{ city.fipsCode }}</div>
      </mat-expansion-panel>
    </div>
    <br />
    <!-- Major Airport -->
    <div class="majorAirportInfo">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Airport Information</mat-panel-title>
          <mat-panel-description>The closest major airport to the city of {{ city.cityName }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div><strong>Major Airport: </strong> {{ city.majorAirport }}</div>
      </mat-expansion-panel>
    </div>
  </div>
  <br>
  <div>
    <button mat-button  class="button" [routerLink]="'/'">Return to Home Page</button>
  </div>
</div>
