<google-map
  height="500px"
  width="500px"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerOptionElem="mapMarker"
    *ngFor="let markerOption of markerOptions"
    [options]="markerOption"
    (mapClick)="openInfo(markerOptionElem, markerOption.title)"
  ></map-marker>

  <map-info-window>
    <!-- TODO: Dynamically Set Parameter for Link to City Info -->
    <a href="https://google.com">
      {{ infoContent }}
    </a>
  </map-info-window>
</google-map>

<!-- Use custom zoom buttons -->
<button (click)="logCenter()">Log Center</button>
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
