<div>
  <h1 style="display: flex; justify-content: center; align-items: center">
    Ashton Hellwig
  </h1>
  <h2 style="display: flex; justify-content: center; align-items: center">
    States in which I Had Previously Resided
  </h2>
</div>
<br />
<google-map
  height="500px"
  width="500px"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerOptionElem="mapMarker"
    *ngFor="let markerOption of markerOptions"
    [options]="markerOption"
    (mapClick)="openInfo(markerOptionElem, markerOption.title)"
  ></map-marker>

  <map-info-window>
    <a
      [routerLink]="
        'city/' + infoContent.substr(0, infoContent.indexOf(',')).toLowerCase()
      "
    >
      {{ infoContent }}
    </a>
  </map-info-window>
</google-map>
